In [1]:
import pandas as pd
df = pd.read_csv("multiple_linear_regression_dataset.csv")

In [2]:
df.head()

   age  experience  income
0   25           1   30450
1   30           3   35670
2   47           2   31580
3   32           5   40130
4   43          10   47830

In [3]:
df.columns

Index(['age', 'experience', 'income'], dtype='object')

In [4]:
df.shape

(20, 3)

In [ ]:
#Which columns are inputs?
#age, experience

#Which column is the output?
#income

#How many features does your model need to handle?
#2